.app-title {
  color: #ff0000;
}
body{
	background-color:#313338;
}
p{
	text-align:left;
	color:#D9DBDE;
}
li{
	text-align:left;
	color:#D9DBDE;
}
input{
	border-radius:10px;
}
#li{
	margin-left:30%;
	margin-right:30%;
}
